<div class="row">
    <div class="col-md-5">
    <app-recipe-list  ></app-recipe-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    <!-- <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-detail>
    <ng-template #infoText>
        <p appHighlight>Please select a Recipe!(this is with basic directive)</p>
        <p appBetterwayHighlight [defaultColor]="'red'" [highlightColor]="'yellow'">Please select a Recipe!(this is with better highlighter selector)</p>
         using the selector from BasicHighLightDirective  
    </ng-template> -->
    </div>
</div>
